@{
    ViewData["Title"] = "Payment Success";
}

<ul class="breadcrumb">
    <li><a asp-controller="home">Home</a> <span class="divider">/</span></li>
    <li class="active">Cảm ơn</li>
</ul>
<h3>Cảm ơn vì đã mua sản phẩm! Vui lòng kiểm tra mã thẻ hoặc tài khoản ở <a href="https://localhost:7032/Account/TransactionHistory"><strong>lịch sử giao dịch</strong></a></h3>