@{
    Layout = null;
}

<form class="form-inline navbar-search" method="get" asp-action="Search" asp-controller="Product">
    <input name="key" id="searchString" class="srchTxt" type="text" />
    <button type="submit" id="submitButton" class="btn btn-primary">Tìm kiếm</button>
</form>
