@{
    ViewData["Title"] = "Access Denied Page";
}
<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index">Trang chủ</a> <span class="divider">/</span></li>
                    <li class="active">Truy cập bị từ chối!</li>
                </ul>
                <h3 style="color: red;">TRUY CẬP BỊ TỪ CHỐI!</h3>
                <hr class="soft" />

                <div class="row">
                    <div class="span9" style="min-height:900px">
                        <div class="well">
                            Truy cập bị từ chối, vui lòng quay lại trang đăng nhập và tiếp tục trải nghiệm.<br /><br /><br />
                            <div class="control-group">
                                <a href="/Home/Login" class="btn btn-large btn-success"> Đi tới Đăng nhập </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->