@{
    ViewData["Title"] = "RegisterConfirmation";
}
<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index">Home</a> <span class="divider">/</span></li>
                    <li class="active">Đăng ký thành công</li>
                </ul>
                <li class="active">Đăng ký thành công</li>
                <hr class="soft" />

                <div class="row">
                    <div class="span9" style="min-height:900px">
                        <div class="well">
                            Đăng ký tài khoản của bạn đã thành công, vui lòng quay lại trang đăng nhập và tiếp tục.<br /><br /><br />

                            <div class="control-group">
                                <a href="/Home/Login" class="btn btn-large btn-success"> Đi tới Đăng nhập </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
